.buttonWishList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  width: 48px;
  background-color: #F2F3F6;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 2px;
  transition: .3s ease-in-out;

  &:hover {
    background-color: #FEE5EC;
    svg {
      color: #DA4B4F;
    }
  }
}

.active {
  background-color: #DA4B4F;
  svg {
    color: #fff;
  }

  &:hover {
    background-color: #C22539;
    svg {
      color: #fff;
    }
  }
}